* {
  box-sizing: border-box;
}

.item {
  position: relative;
  padding: 0;
  flex: 0 0 auto;
  max-width: 272px;
  transition: all .3s ease 0s;
  composes: mr-6 mb-8 from global;
}

.item * {
  transition: all .3s ease 0s;
}

.item:hover * {
  opacity: 0.8;
}

.item:nth-child(2n) {
  margin-right: 0;
}

.link {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.item__image {
  position: relative;
  margin: 0;
  max-width: 100%;
  composes: pl-4 pr-4 from global;
}

.item__title {
  margin: 0;
  padding: 4px 0 0 0;
  text-align: center;
  min-height: 52px;
  overflow: hidden;
  text-overflow: ellipsis;
  composes: text_type_main-default from global;
}

.item__box {
  position: relative;
  margin: 0;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
  composes: pt-1 pb-1 from global;
}

.item__price {
  margin: 0;
  padding: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  composes: text_type_digits-default from global;
}