* {
  box-sizing: border-box;
}

.list {
  user-select: none;
  list-style: none;
  margin: 0;
  padding: 0;
  opacity: 1;
  scrollbar-color: rgba(47, 47, 55, 1);
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
}

.item__position_top {
  padding-top: 0;
  composes: pb-2 pl-10 pr-4 ml-2 from global;
}

.item__position_bottom {
  padding-bottom: 0;
  composes: pt-2 pl-10 pr-4 ml-2 from global;
}

.listScroll {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 480px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(47, 47, 55, 1);
}

.listScroll_disabled {
  opacity: .6;
  cursor: 'default';
}

.listScroll::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(47, 47, 55, 1);
}

.listScroll::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: rgba(133, 133, 173, 1)
}

.listScroll_padding_bottom {
  animation: addPaddingBottom var(--constructor-items-animation-time) ease-out forwards;
}

@keyframes addPaddingBottom {
  0% {
    padding-bottom: 0;
  }

  100% {
    padding-bottom: 96px;
  }
}

.listScroll_margin_bottom {
  animation: negativeMarginBottom var(--constructor-items-animation-time) ease-out forwards;
}

@keyframes negativeMarginBottom {
  0% {
    margin-bottom: 0;
  }

  100% {
    margin-bottom: -96px;
  }
}