.list_scroll {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scrollbar-color: rgba(47, 47, 55, 1);
}

.list_scroll {
  max-height: 480px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.list_scroll::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(47, 47, 55, 1);
}

.list_scroll::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: rgba(133, 133, 173, 1)
}