.noIngredientsText {
 outline: #df00cd solid 1px;
  margin: 5px auto;
  padding: 0;
  text-align: center;
  composes: text text_type_main-default from global;
}

.list_scroll {
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-height: 480px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgba(47, 47, 55, 1);
}

.list_scroll::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(47, 47, 55, 1);
}

.list_scroll::-webkit-scrollbar-thumb {
  width: 8px;
  background-color: rgba(133, 133, 173, 1)
}