.container {
  position: relative;
  z-index: 102;
  padding-left: 152px;
  padding-right: 152px;
  background: #1c1c21;
  border: 1px solid rgba(76, 76, 255, 0.2);
  box-shadow:
    0px 24px 32px rgba(0, 0, 0, 0.04),
    0px 16px 24px rgba(0, 0, 0, 0.04),
    0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  composes: pt-30 pb-30 from global;
}

.id {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  text-align: center;
  color: #f2f2f3;
  text-shadow:
    0px 0px 16px rgba(51, 51, 255, 0.25),
    0px 0px 8px rgba(51, 51, 255, 0.25),
    0px 4px 32px rgba(51, 51, 255, 0.5);
  composes: mb-8 text_type_digits-large from global;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  text-align: center;
  composes: mb-15 text_type_main-medium from global;
}

.imageBox {
  display: block;
  user-select: none;
  position: relative;
  aspect-ratio: 1/1;
  background-color: transparent;
  width: 120px;
  height: 120px;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin: 0 auto 60px auto;
  composes: mb-15 from global;
}

.image {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  vertical-align: bottom;
}

.info {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  text-align: center;
  composes: mb-2 text_type_main-default from global;
}

.instruction {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
  text-align: center;
  color: #8585ad;
  composes: text_type_main-default from global;
}
