* {
  box-sizing: border-box;
}

.order {
  margin: 0;
  padding: 0;
}

.order__link {
  display: block;
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  height: fit-content;
  max-width: 100%;
  background: #1C1C21;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  padding-right: 28px;
  padding-left: 24px;
  margin: 0;
  transition: all .4s ease 0s;
  composes: pt-6 pb-6 from global;
}

.order__link:hover {
  opacity: .7;
}

.order__link:active {
  opacity: .4;
}

.order__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 28px;
  padding: 0 0 0 0;
  margin-top: -2px;
  margin-right: 0;
  margin-left: 0;
  composes: mb-6 from global;
}

.order__time {
  max-width: 40%;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  overflow-y: hidden;
  composes: text_type_main-default text_color_inactive from global;
}

.order__id {
  max-width: 60%;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  composes: text_type_digits-default from global;
}

.order__name {
  max-width: 100%;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  padding: 2px 0 0 0;
  margin: 0;
  composes: text_type_main-medium from global;
}

.order__status {
  max-width: 100%;
  overflow: hidden;
  text-decoration: none;
  text-overflow: ellipsis;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  margin: 0;
  composes: pt-2 text_type_main-default from global;
}

.order__status_active {
  color: #00CCCC;
}
