* {
  box-sizing: border-box;
}

.container {
  padding: 118px 0 0 0;
  margin: 0;
  width: 100%;
  display: flex;
}

.form {
  padding: 0;
  margin: 0;
}

.editingBlock {
  flex: 0 1 auto;
  padding-bottom: 0;
  padding-right: 0;
  padding-top: 0;
  composes: pl-15 from global;
}

.buttonsBlock {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 28px;
}

.cancelButton {
  border: 0;
  padding: 0;
  margin: 17px 0 0 0;
  cursor: pointer;
  color: #4C4CFF;
  background: transparent;
  transition: all .4s ease 0s;
  composes: text text_type_main-default from global;
}

.cancelButton:hover {
  color: #b6b6ff;
}

.cancelButton:disabled {
  opacity: 0;
  cursor: default;
}

.logoutButton {
  color: #8585AD;
  cursor: pointer;
  width: fit-content;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  transition: all .3s ease 0s;
  composes: text text_type_main-medium from global;
}

.logoutButton:hover {
  color: hsla(240, 4%, 95%, 0.7);
}