* {
  box-sizing: border-box;
}

.container {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
}

.navBlock {
  flex: 0 0 320px;
  margin: 0 2px 0 0;
  padding: 137px 0 0 2px;
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.logoutButton {
  color: #8585AD;
  cursor: pointer;
  width: fit-content;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  transition: all .3s ease 0s;
  composes: text_type_main-medium from global;
}

.logoutButton:hover {
  opacity: .7;
}

.blockAbout {
  max-width: 100%;
  padding: 62px 0 0 0;
  margin: 0;
}

.textAbout {
  color: #8585AD;
  opacity: 0.4;
  padding: 0;
  margin: 0;
  width: 100%;
  composes: text_type_main-default from global;
}