.container {
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 15px;
  z-index: 102;
  height: fit-content;
  width: fit-content;
  max-width: 300px;
  background: transparent;
  border: #fff solid 1px;
  border-radius: 15px;
}

.imageBox {
  user-select: none;
  box-sizing: border-box;
  display: block;
  position: relative;
  aspect-ratio: 1/1;
  background: url('../../images/burger.svg') center no-repeat;
  background-size: 85% 85%;
  background-color: transparent;
  padding: 0;
  margin: 5px auto;
  width: 80%;
}

.image {
  box-sizing: border-box;
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  opacity: .5;
}

.textBox {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0 0 20px 0;
}

.title {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-align: center;
  user-select: none;
  color: #F2F2F3;
  text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25), 0px 4px 32px rgba(51, 51, 255, 0.5);
  composes: text_type_main-large from global;
}

.enterActive {
  animation: loaderIn var(--loader-animation-time) linear normal forwards running;
}

.exitActive {
  animation: loaderOut var(--loader-animation-time) linear normal forwards running;
}

@keyframes loaderIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: .9;
  }
}

@keyframes loaderOut {
  0% {
    opacity: .9;
  }

  100% {
    opacity: 0;
  }
}
