* {
  box-sizing: border-box;
}

.title {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 12px 0 12px 0;
  margin: 0;
  composes: text_type_main-large from global;
}

.imageBox {
  display: block;
  user-select: none;
  position: relative;
  aspect-ratio: 1/1;
  background-color: transparent;
  width: 480px;
  height: 240px;
  padding: 0;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  composes: mb-4 from global;
}

.image {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  background-color: transparent;
  font-size: 18px;
  color: #8585ad00;
  transition: all 0.3s ease 0s;
  composes: text_type_main-default from global;
}

.name {
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  text-align: center;
  composes: mb-8 text_type_main-medium from global;
}

.composition {
  display: flex;
  padding: 0;
  margin: 0 auto;
  justify-content: center;
}

.composition__item {
  display: flex;
  flex-direction: column;
  gap: 7px;
  text-align: center;
  color: #8585ad;
  padding: 0 14px 0 14px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  composes: mr-5 from global;
}

.composition__item:last-of-type {
  margin-right: 0;
}

.composition__text {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
  composes: text_type_main-default from global;
}

.composition__number {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0;
  margin: 0;
  composes: text_type_digits-default from global;
}
