.section {
  user-select: none;
  box-sizing: border-box;
  padding: 0;
  flex: 0 0 auto;
  max-width: 600px;
  min-height: 912px;
  height: 100vh;
  scrollbar-color: rgba(47, 47, 55, 1);
  composes: mr-10 from global;
}

.section__title {
  margin: 0 0 20px 0;
  box-sizing: border-box;
  composes: text_type_main-large pt-10 from global;
}

.section__blocks {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-height: 700px;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
}

.section__blocks::-webkit-scrollbar {
  width: 7px;
  background-color: rgba(47, 47, 55, 1);
}

.section__blocks::-webkit-scrollbar-thumb {
  width: 7px;
  background-color: rgba(133, 133, 173, 1)
}

.tab {
  box-sizing: border-box;
  padding: 0;
  display: flex;
  composes: mb-10 from global;
}