* {
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  margin: 0;
  padding: 40px;
  background-color: rgba(19, 19, 22, 1);
  height: 100vh;
}

.main {
  position: relative;
  overflow: hidden;
  max-width: 1240px;
  padding: 0;
  margin: 0 auto;
  display: flex;
}