* {
  box-sizing: border-box;
}

.wrapper {
  position: relative;
  margin: 0;
  padding: 40px;
  background-color: rgba(19, 19, 22, 1);
  height: 100vh;
}

.header {
  box-sizing: border-box;
  background-color: rgba(28, 28, 33, 1);
  margin: 0;
  padding: 0;
}

.nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  composes: p-3 from global;
}

.nav__box {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

/* для "личного кабинета" */
.nav>*:last-child {
  padding-right: 15px;
}

/* для логотипа */
.nav__box>*:last-child {
  margin-left: 108px;
}

.main {
  position: relative;
  max-width: 1240px;
  max-height: 912px;
  padding: 0;
  margin: 0 auto;
  display: flex;
}