a {
  text-decoration: none;
}

.link {
  box-sizing: border-box;
  color: #4C4CFF;
  transition: all .3s ease 0s;
  composes: text text_type_main-default from global;
}

.link:hover {
  opacity: .7;
}