.link {
  box-sizing: border-box;
  display: flex;
  margin-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  composes: p-5 mr-2 from global;
  transition: all .3s ease 0s;
}

.link:hover {
  opacity: .8;
}

.link:last-of-type {
  margin-right: 5px;
}

.link_active {
  cursor: default;
  pointer-events: none;
  color: #BDBDFF;
}

.text {
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
  composes: text text_type_main-default pl-2 from global;
}