* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.link {
  color: #8585ad;
  width: fit-content;
  transition: all 0.4s ease 0s;
  composes: text_type_main-medium from global;
}

.link:hover {
  opacity: 0.7;
}

.link:active {
  opacity: 0.4;
}

.link_active {
  color: #f2f2f3;
  cursor: default;
  pointer-events: none;
}
