* {
  box-sizing: border-box;
}

.container {
  padding: 118px 0 0 0;
  margin: 0;
  width: 100%;
  display: flex;
}

.logoutButton {
  color: #8585AD;
  cursor: pointer;
  width: fit-content;
  background: transparent;
  border: 0;
  margin: 0;
  padding: 0;
  transition: all .3s ease 0s;
  composes: text text_type_main-medium from global;
}

.logoutButton:hover {
  opacity: .7;
}