.overlayEnterActive {
  animation: overlayIn var(--modal-animation-time) ease-out forwards;
}

.overlayExitActive {
  animation: overlayOut var(--modal-animation-time) ease-out forwards;
}

@keyframes overlayIn {
  0% {
    transform: scaleY(.005) scaleX(0);
  }

  30% {
    transform: scaleY(.005) scaleX(1);
  }

  100% {
    transform: scaleY(1) scaleX(1);
  }
}

@keyframes overlayOut {
  0% {
    transform: scaleY(1) scaleX(1);
  }

  75% {
    transform: scaleY(.005) scaleX(1);
  }

  100% {
    transform: scaleY(.005) scaleX(0);
  }
}

.containerEnterActive {
  opacity: 0;
  animation: containerIn var(--modal-animation-time) ease forwards;
}

.containerExitActive {
  animation: containerOut var(--modal-animation-time) ease forwards;
}

@keyframes containerIn {
  0% {
    transform: scaleY(.5) scaleX(.5);
    opacity: 0;
  }

  55% {
    transform: scaleY(.5) scaleX(.5);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes containerOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  20% {
    transform: scaleY(.5) scaleX(.5);
    opacity: 0;
  }

  100% {
    transform: scaleY(.5) scaleX(.5);
    opacity: 0;
  }
}