.header {
  box-sizing: border-box;
  background-color: rgba(28, 28, 33, 1);
  margin: 0;
  padding: 0;
}

.nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  composes: p-3 from global;
}

.nav__box {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  padding: 0;
  align-items: center;
}

.nav__link {
  box-sizing: border-box;
  display: flex;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
  composes: p-5 mr-2 from global;
}

.nav .nav__link:last-of-type {
  margin-right: 0;
}

.nav__box .nav__link:last-of-type {
  margin-right: 110px;
}

.nav__text {
  box-sizing: border-box;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  composes: text text_type_main-default pl-2 from global;
}